html {
  background: rgb(183, 195, 243);
  margin:0;
  padding:0;
  height:100%;
}

#footer2 {
  background: rgb(191, 204, 148);
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
}





#nav{
  background: rgb(191, 204, 148);
  font-size: 1rem;
}

#bannerd{
    background: rgb(183, 195, 243);
  font-size: 1rem;
}

.nav-link {
  color: black;
}

#footer {
  background: rgb(191, 204, 148);

}


#dogtitle {
  font-size: 2rem;
  font-family: sans-serif;
}

#about {
  background: rgb(197, 137, 232);
}

#banner{
    /* background: rgb(201, 199, 226); */
    background: rgb(183, 195, 243);
    text-align: center;
  /* background: rgb(147, 225, 245); */
}

#form {
  width: 900px;
  padding: 10px;
  background: white;
  border:1px solid black;
  display: inline-block;
}

#button {
  background: rgb(247, 160, 114);
  border:1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: black;
}


#container {
  background: rgb(244, 242, 243)

}

#picCont {
   display: inline-block;
    background: rgb(197, 137, 232);
    border:2px solid black;
    width: 600px;
    height: 450px;
    padding: 5px;
    margin: 5px;
  }
